@font-face {
  font-family: Vazir;
  src: url("../Font-Vazir/Vazir-Regular-FD.eot");
  src: url("../Font-Vazir/Vazir-Regular-FD.eot?#iefix")
      format("embedded-opentype"),
    url("../Font-Vazir/Vazir-Regular-FD.woff2") format("woff2"),
    url("../Font-Vazir/Vazir-Regular-FD.woff") format("woff"),
    url("../Font-Vazir/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../Font-Vazir/Vazir-Bold-FD.eot");
  src: url("../Font-Vazir/Vazir-Bold-FD.eot?#iefix") format("embedded-opentype"),
    url("../Font-Vazir/Vazir-Bold-FD.woff2") format("woff2"),
    url("../Font-Vazir/Vazir-Bold-FD.woff") format("woff"),
    url("../Font-Vazir/Vazir-Bold-FD.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../Font-Vazir/Vazir-Black-FD.eot");
  src: url("../Font-Vazir/Vazir-Black-FD.eot?#iefix")
      format("embedded-opentype"),
    url("../Font-Vazir/Vazir-Black-FD.woff2") format("woff2"),
    url("../Font-Vazir/Vazir-Black-FD.woff") format("woff"),
    url("../Font-Vazir/Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../Font-Vazir/Vazir-Medium-FD.eot");
  src: url("../Font-Vazir/Vazir-Medium-FD.eot?#iefix")
      format("embedded-opentype"),
    url("../Font-Vazir/Vazir-Medium-FD.woff2") format("woff2"),
    url("../Font-Vazir/Vazir-Medium-FD.woff") format("woff"),
    url("../Font-Vazir/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../Font-Vazir/Vazir-Light-FD.eot");
  src: url("../Font-Vazir/Vazir-Light-FD.eot?#iefix")
      format("embedded-opentype"),
    url("../Font-Vazir/Vazir-Light-FD.woff2") format("woff2"),
    url("../Font-Vazir/Vazir-Light-FD.woff") format("woff"),
    url("../Font-Vazir/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../Font-Vazir/Font-Vazir/Vazir-Thin-FD.eot");
  src: url("../Font-Vazir/Vazir-Thin-FD.eot?#iefix") format("embedded-opentype"),
    url("../Font/Vazir-Thin-FD.woff2") format("woff2"),
    url("../Font-Vazir/Vazir-Thin-FD.woff") format("woff"),
    url("../Font-Vazir/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  font-family: "Vazir";
}

body {
  background-color: #eeeeee;
  font-family: 'Open Sans', serif;
  font-size: 14px
}

.container-fluid {
  margin-top: 30px
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.40rem
}

.img-sm {
  width: 80px;
  height: 80px
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px
}

.table-shopping-cart .price-wrap {
  line-height: 1.2;
  font-size: 1rem;
}

.table-shopping-cart .price {
  font-weight: bold;
  margin-right: 5px;
  display: block
}

.text-muted {
  color: #969696 !important
}

a {
  text-decoration: none !important
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0px
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.dlist-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

[class*="dlist-"] {
  margin-bottom: 5px
}

.coupon {
  border-radius: 1px
}

.price {
  font-weight: 600;
  color: #212529
}

.btn.btn-out {
  outline: 1px solid #fff;
  outline-offset: -5px
}

.btn-main {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  color: #fff;
  width: 100%
}

.btn-light {
  color: #ffffff;
  background-color: #F44336;
  border-color: #f8f9fa;
  font-size: 12px
}

.btn-light:hover {
  color: #ffffff;
  background-color: #F44336;
  border-color: #F44336
}

.btn-apply {
  font-size: 11px
}

.ratings i {
font-size: 16px;
color: red
}

.strike-text {
color: red;
text-decoration: line-through
}

.product-image {
width: 100%
}

.spec-1 {
color: #938787;
font-size: 15px
}

h5 {
font-weight: 400
}

.para {
font-size: 16px
}
.product-id{
color: #F44336;
}


/* ---- ADMIN ---- */

.list-cust {
  background-color: #1e2832;
}

.card.user-card {
  border-top: none;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05),
    0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
  transition: all 150ms linear;
}

.card {
  border-radius: 5px;
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 25px;
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.4;
}

.card .card-header + .card-block,
.card .card-header + .card-block-big {
  padding-top: 0;
}

.user-card .card-block {
  text-align: center;
}

.card .card-block {
  padding: 25px;
}

.user-card .card-block .user-image {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  width: 110px;
  height: 110px;
}

.user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-15 {
  margin-top: 15px;
}

.text-muted {
  color: #919aa3 !important;
}

.user-card .card-block li.active {
  background-color: #2ed8b6;
}

.user-card .card-block li {
  display: inline-block;
  width: 15%;
  height: 4px;
  margin: 0 3px;
  background-color: #ccc;
}

.user-card .card-block .counter-block {
  color: #fff;
}


.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-red {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}

.m-t-10 {
  margin-top: 10px;
}

.p-20 {
  padding: 20px;
}

.user-card .card-block i {
  font-size: 30px;
}

.user-card .card-block .user-image:before {
  bottom: 0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
  content: "";
  width: 100%;
  height: 48%;
  border: 2px solid #4099ff;
  position: absolute;
  left: 0;
  z-index: 10;
}


#detailsCard {
  display: none;
}

/* ---- ADMIN ---- */

/* ---- PROFILE ---- */
.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
/* ---- PROFILE ---- */